---
import "../styles/global.css";
import AuthorizedNavbar from "../components/AuthorizedNavbar"
import Footer from "../components/Footer";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script>
      (function () {
        const userTheme = localStorage.getItem("theme");
        const systemDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        if (userTheme === "dark" || (!userTheme && systemDark)) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
    <title>{title}</title>
  </head>
  <body>
    <main class="flex flex-col dark:bg-gray-900 justify-between h-full w-full font-zxproto">
      <AuthorizedNavbar client:load />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>